.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 150px;
  background-color: #001122;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;

  .logo{
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    img{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      &:hover{
        transform: scale(1.1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5 );
      }

      }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;

    span {
      width: 25px;
      height: 3px;
      background: white;
      transition: all 0.3s;
    }

    &.open span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    &.open span:nth-child(2) {
      opacity: 0;
    }

    &.open span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }

  .nav-links {
    display: flex;
    list-style: none;

    li {
      margin: 0 15px;

      a {
        text-decoration: none;
        color: white;
        font-size: 2rem;
        transition: color 0.3s;

        &:hover {
          color: #00aaff;
        }

        &.active {
          color: #00aaff;
          border-bottom: 2px solid #00aaff;
        }
      }
    }
  }

  // Dla wersji mobilnej
  @media (max-width: 720px) {

    padding: 10px;
    .logo{
    img{
      width: 50px; //zmnejsza logo na malych ekranach
      height: 50px;
    }
    }

    .hamburger {
      display: flex;
    }

    .nav-links {
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #001122;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: calc(100vh - 60px);
      transform: translateX(100%);
      transition: transform 0.3s;
      padding-top: 20px;

      &.open {
        transform: translateX(0);
      }

      li {
        margin: 20px 0;
      }
    }
  }
  @media  (max-width: 480px){
    .logo{
      img{
        width: 40px; //jeszcze mniejsze logo na bardzo malych ekranach
        height: 40px;
      }
    }
  }
}