.projects {
  padding: 50px;
  text-align: center;
  background-color: #001122;
  color: white;


  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #00aaff;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }

  .project-card {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    color: white;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;

  }

  p {
    font-size: 1rem;
    color: #ccc;
  }
}